{% extends 'base.html' %}

{% block title%}
{{title}}
{% endblock title %}



{% block main %}

<div class="container">
    <div class="d-flex justify-content-center mt-4 mb-4">
        <div class="col-8 card p-4 shadow ">
            <h3 class="text-center">{{ title }}</h3>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-dark" type="submit">
                    {% if 'update' in request.path %}
                    Edit
                    {% else %}
                    Create
                    {% endif %}
                </button>
            </form>
        </div>

    </div>

</div>

{% endblock main %}

