{% extends 'base.html' %}
{% load blog_tags %}

{% block title %}
{{title}}
{% endblock %}

{% block main %}
<div class="hero-section" style="background-image: url(https://www.syfy.com/sites/syfy/files/2021/12/the-dark-tower_crop.jpg);
height: 700px;
background-repeat: no-repeat;
background-size: cover;
">
  <div class="container">
    <div class="d-flex flex-column">
        <a href="{% url 'index' %}" class="text-dark m-2">Categories</a>
{% get_categories as categories %}
{% for category in categories %}

  <a href="{{category.get_absolute_url}}" class="text-dark m-2">{{ category }}</a>
{% endfor %}
</div>
    <h1 style="padding-top: 150px" class="text-light">EXPLORE THE WORLD OF THE DARK TOWER</h1>
  </div>
</div>

<!--Здесь будут категории-->


<div class="container">
    {% for article in articles %}
       {% include 'blog/components/blog/_article_card.html' %}
    {% endfor %}

  </div>

{% endblock main %}